@model Shopping.Data.Entities.City

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <partial name="_CityDetails"/>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="EditCity" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-outline-success" asp-action="DetailsState" asp-route-id="@Model?.State.Id">Back to List</a>
</div>
